<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Finalizar Compra</title>
    <link rel="stylesheet" href="/src/styles/styles.css" />
  </head>
  <body>
    <header-mascotitas></header-mascotitas>
    <main class="finalizar-compra">
      <productos-similares
        class="finalizar-compra__productos-similares-contenedor"
      ></productos-similares>
    </main>
    <footer-mascotitas></footer-mascotitas>
    <script type="module" src="/src/js/productos_similares.js"></script>
    <script type="module" src="/src/js/header.js"></script>
    <script type="module" src="/src/js/footer.js"></script>
  </body>
</html>
