<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Perfil</title>
    <link rel="stylesheet" href="./src/styles/styles.css" />
    <script type="module" src="./main.js"></script>
  </head>

  <body>
    <header-mascotitas></header-mascotitas>

    <main class="main">
      <!-- <img src="/public/images/mancha-gris 2.png" alt="" height="202px" width="67px" class="main__mancha-gris" />
        <img src="/public/images/huella-1 1.png" alt="" height="275px" width="189px" class="main__huella" />
        <img src="/public/images/hueso.png" alt="" height="188px" width="169px" class="main__hueso" />
        <img src="/public/images/mancha-beige 2.png" alt="" height="198px" width="62px" class="main__mancha-beige" /> -->

      <div class="main__usuario">
        <h2 class="main__usuario--titulo">Hola Usuario</h2>
        <div class="main__usuario--contenedor">
          <!-- Primer texto -->
          <h4 class="titulo">Mis datos</h4>
          <p class="texto">
            Modifica acá tus datos para que tu cuenta permanezca actualizada.
          </p>
          <label class="titulo" for="form2Example1"
            ><h4>Datos Personales</h4></label
          >
          <div class="nombre-apellido">
            <div class="form-control">
              <input
                type="text"
                id="form2Example1"
                class="input1"
                placeholder="Nombre"
              />
              <img
                src="/public/images/Editar-perfil.svg"
                alt=""
                class="icono"
              />
            </div>
            <div class="form-control">
              <input
                type="text"
                id="form2Example1"
                class=""
                placeholder="Apellido"
              />
              <img
                src="/public/images/Editar-perfil.svg"
                alt=""
                class="icono"
              />
            </div>
          </div>
          <div class="desplegable">
            <label for="titulo" class="texto">Tipo de contribuyente</label>
            <select id="opciones" name="opciones" class="lista">
              <option value="opcion1">
                Persona Natural - No resonsable del IVA
              </option>
              <option value="opcion2">
                Persona Jurídica - Impuesto sobre las ventas - IVA
              </option>
              <option value="opcion3">
                Persona Natural - Impuesto sobre las ventas - IVA
              </option>
              <option value="opcion4">
                Persona Natural - No resonsable del IVA
              </option>
            </select>
          </div>

          <div class="form-control">
            <input
              type="number"
              id="form2Example1"
              class=""
              placeholder="Numero identificacion"
            />
            <img src="/public/images/Editar-perfil.svg" alt="" class="icono" />
          </div>
          <div class="form-control">
            <input
              type="text"
              id="form2Example1"
              class=""
              placeholder="Calle 1 #3-5"
            />
            <img src="/public/images/Editar-perfil.svg" alt="" class="icono" />
          </div>
          <div class="form-control">
            <input
              type="text"
              id="form2Example1"
              class=""
              placeholder="Torre C Apt 101"
            />
            <img src="" alt="" class="icono" />
          </div>
          <h4 class="titulo">Datos de Acceso</h4>

          <div data-mdb-input-init class="cajita">
            <div class="form-control">
              <label class="texto" for="form2Example1"
                >Correo Electronico</label
              >
              <input
                type="email"
                id="form2Example1"
                class="password"
                placeholder="Correoelectronico@gmail.com"
              />
              <img
                src="/public/images/icono_esconder_clave.svg"
                alt=""
                class="icono"
              />
            </div>
            <div class="form-control">
              <label class="texto" for="form2Example1">Contraseña</label>
              <input
                type="email"
                id="form2Example1"
                class="password"
                placeholder="Contraseña123+"
              />
              <img
                src="/public/images/icono_esconder_clave.svg"
                alt=""
                class="icono"
              />
            </div>

            <button
              type="button"
              data-mdb-button-init
              data-mdb-ripple-init
              class="incio-sesion__contenedor--boton"
            >
              Cerrar sesión
            </button>
          </div>
        </div>
      </div>
    </main>

    <footer-mascotitas></footer-mascotitas>
    <script type="module" src="/src/js/footer.js"></script>
    <script type="module" src="/src/js/header.js"></script>
  </body>
</html>
