<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Productos</title>
    <link rel="stylesheet" href="/src/styles/styles.css" />
  </head>
  <body>
    <main class="productos">
      <div id="products-container" class="productos__grid">
        <!-- Aqui van a estar las tarjetas de los productos -->
      </div>
      <div id="pagination-container" class="productos__pagination"></div>
    </main>
    <footer-mascotitas></footer-mascotitas>
    <script type="module" src="/src/js/footer.js"></script>
    <script type="module" src="/src/js/productos.js"></script>
  </body>
</html>
