<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/src/styles/styles.css" />
    <title>Document</title>
  </head>
  <body>
    <main class="main">
      <div class="main__detalle">
        <div class="main__detalle__imagen">
          <img
            src="/public/images/productos/monello_tradicional.png"
            alt="Monello Tradicional X25Kg"
          />
        </div>
        <div class="main__detalle__descripcion">
          <h2><b>Monello Tradicional 25 Kg - Perros</b></h2>
          <br />
          <p><span>Marca: </span>Monello</p>
          <p><span>Peso: </span>25 Kg</p>
          <p><span>Etapa: </span>Adultos</p>
          <br />

          <p><b>Descripcion: </b></p>
          <p>
            Monello Dog Tradicional Adulto es un alimento premium diseñado para
            cubrir todas las necesidades nutricionales de perros adultos de
            todas las razas. Enriquecido con proteínas de origen animal,
            vitaminas y minerales, facilita una fácil digestión y absorción,
            promoviendo la salud y energía de las mascotas. Contiene omegas 3 y
            6 que mejoran la salud cardiovascular y contribuyen al brillo del
            pelaje y la salud de la piel. Además, sus fibras especiales ayudan a
            reducir el volumen y el olor de las heces, haciendo más fácil su
            limpieza, garantizando un ambiente más higiénico para tu mascota.
          </p>
          <br />
          <h2>$280.000</h2>
          <p class="main__detalle__descripcion--texto">cantidad</p>
          <div class="main__detalle__descripcion--botones">
            <button class="menos">-</button>
            <p>1</p>
            <button class="mas">+</button>
          </div>
          <button class="main__detalle__descripcion--carrito">
            Añadir al carrito
          </button>
        </div>
      </div>
      <img
        src="/public/images/huella-1 1.png"
        alt="huella"
        class="main__huella"
      />
      <img
        src="/public/images/mancha-beige 1.png"
        alt="mancha-beige"
        class="main__mancha"
      />
    </main>
  </body>
</html>
