:root {
  --salmon-claro: #f2a172;
  --naranja-vivo: #f05a25;
  --marron-tierra: #593d2d;
  --blanco-crema: #fff3ec;
  --blanco: #ffffff;
  --negro: #000000;
  --melocoton-suave: #ffe7da;
  --marron-suave: #c7a38e;
}

* {
  box-sizing: border-box;
  margin: 0px;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  font-family: 'Roboto', sans-serif;
}

@custom-media --xs (max-width: 576px); 
@custom-media --sm (max-width: 768px);   
@custom-media --md (max-width: 992px);    
@custom-media --lg (max-width: 1200px);    
@custom-media --xl (max-width: 1400px); 

h1 {
  font-weight: 700; /* bold */
}

p {
  font-weight: 400; /* regular */
}
