:root {
  --salmon-claro: #f2a172;
  --naranja-vivo: #f05a25;
  --marron-tierra: #593d2d;
  --blanco-crema: #fff3ec;
  --blanco: #ffffff;
  --negro: #000000;
}

* {
  box-sizing: border-box;
  margin: 0px;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  font-family: 'Roboto', sans-serif;
}

h1 {
  font-weight: 700; /* bold */
}

p {
  font-weight: 400; /* regular */
}
