.home-page {
  &__carrusel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 30px;

    .carousel-item {
      position: relative;
      display: none;
      float: left;
      width: 100%;
      margin-right: -100%;
      backface-visibility: hidden;
      transition: transform 0.6s ease-in-out;
    }

    .parrafo {
      color: var(--melocoton-suave);
      font-weight: 400;
      font-size: large;
    }

    .carousel button {
      cursor: pointer;
    }

    .carousel button span {
      width: 44px;
      height: 84px;
    }
  }

  &__titulo {
    padding: 20px;
    color: var(--naranja-vivo);
    text-align: center;
  }

  &__contenedor {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 15px;
    align-items: center;
    padding: 10px;

    &--caja {
      width: 416px;
      height: 326px;
      border: 1px solid var(--melocoton-suave);
      padding: 20px;
      display: flex;
      flex-direction: column;
      gap: 15px;
      justify-content: space-evenly;

      .borde-icono {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 60px !important;
        height: 60px;
        border-radius: 50%;
        background-color: var(--blanco-crema);
        width: fit-content;
        .borde-icono2 {
          display: flex;
          align-items: center;
          justify-content: center;
          background-color: var(--melocoton-suave);
          width: 40px !important;
          height: 40px;
          border-radius: 50%;
        }
      }

      .icono {
        position: absolute;
        width: 24px;
        height: 25px;
      }

      .titulo {
        font-size: 30px;
        font-weight: 600;
        color: var(--marron-tierra);
      }

      .parrafo {
        color: var(--marron-tierra);
      }

      a {
        width: fit-content;
      }

      a .informacion {
        border: 1px solid var(--melocoton-suave);
        padding: 12px 20px 12px 20px;
        width: fit-content;
        border-radius: 8px;
        box-shadow: 0px 2px 2px 0px #1018280d;
        color: var(--marron-tierra);
        background-color: var(--blanco);
        cursor: pointer;
        &:hover {
          background-color: var(--naranja-vivo);
          color: var(--blanco-crema);
        }
      }
    }
  }
  &__container-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    gap: 14px;
    .card {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 9px 16px;
      border: 1px solid var(--salmon-claro);
      border-radius: 8px;
      box-shadow: (0 4px 4px rgb(0 0 0 / 0.25));
      max-width: 240px;
      &:hover {
        box-shadow: (0 4px 4px rgb(240, 90, 37));
        background-color: var(--blanco-crema);
        cursor: pointer;
        .info {
          .price-container {
            .add-to-cart {
              background-color: var(--blanco-crema);
            }
          }
        }
      }

      .image_container {
        min-height: 357px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      h3,
      p {
        color: var(--marron-tierra);
        text-align: start;
        font-size: 16px;
      }
      .info {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
        height: 100%;

        .text-container {
          display: flex;
          flex-direction: column;
          justify-content: start;
          margin-top: 4px;
          white-space: pre-line;
        }

        .price-container {
          display: flex;
          flex-direction: row;
          width: 100%;
          justify-content: space-between;
          align-items: center;
          color: var(--naranja-vivo);
          margin-top: 4px;
          .price {
            font-weight: 500;
            font-size: 16px;
          }
          .add-to-cart {
            background-color: var(--blanco);
            border: 0;
            padding: 0;
            cursor: pointer;
          }
        }
      }
    }
  }
}
