//Estilos para la vista de productos

.productos {
  padding: 20px 20px;
  display: flex;
  flex-direction: column;
  width: 100%;
  &__container {
    display: flex;
    flex-direction: row;
    gap: 20px;
    &--filtro {
      display: flex;
      flex-direction: column;
      border: 1px var(--marron-tierra) solid;
      border-radius: 8px;
      padding: 17px 11px;
      hr {
        margin: 0;
        color: var(--salmon-claro);
      }
      .filtro_categoria {
        display: flex;
        flex-direction: row;
        background-color: var(--blanco-crema);
        padding: 6px 12px;
        gap: 4px;
        border-radius: 26px;
        span {
          // background-color: var(--salmon-claro);
          border-radius: 16px;
          color: var(--salmon-claro);
          padding: 1px 8px;
          cursor: pointer;
        }
      }
      .filtro_sub-categoria {
        margin: 20px 0;
        border: none;
        .accordion {
          border: none;
          .accordion-item {
            border: none;
            .accordion-header {
              border: none;
              .accordion-button {
                display: flex;
                width: 100%;
                justify-content: space-between;
                background-color: var(--blanco);
                color: var(--marron-tierra);
                padding: 10px 10px;
                border: none;
                border-radius: 12px;
                &:hover {
                  background-color: var(--blanco-crema);
                }
                &::after {
                  display: none !important;
                }
                &:focus {
                  box-shadow: none;
                }
                &:active {
                  background-color: var(--blanco);
                }
                .titulo-icon {
                  display: flex;
                  justify-content: center;
                  font-size: 16px;
                  font-weight: 600;
                  gap: 5px;
                }
              }
            }
            .accordion-collapse {
              .accordion-body {
                padding: 0 10px;
                .accordion-ul {
                  padding: 0;
                  width: 100%;
                  .accordion-li {
                    width: 100%;
                    margin: 5px 0;

                    label {
                      display: flex;
                      justify-content: space-between;
                      align-items: center;
                      width: 100%;
                      color: var(--marron-tierra);
                      &:hover {
                        cursor: pointer;
                      }
                      .check-concentrado {
                        position: absolute;
                        opacity: 0;
                        cursor: pointer;
                      }
                      .custom-check {
                        width: 20px;
                        height: 20px;
                        background-color: var(--blanco);
                        border: 1px solid var(--marron-tierra);
                        border-radius: 4px;
                        position: relative;
                        transition:
                          background-color 0.3s ease,
                          border-color 0.3s ease;
                        &::after {
                          content: '';
                          position: absolute;
                          display: none;
                          left: 7px;
                          top: 2px;
                          width: 6px;
                          height: 12px;
                          border: solid white;
                          border-width: 0 2px 2px 0;
                          transform: rotate(45deg);
                        }
                      }
                      .check-concentrado:checked + .custom-check {
                        background-color: var(--marron-tierra);
                        border-color: var(--marron-tierra);
                      }
                      .check-concentrado:checked + .custom-check::after {
                        display: block;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
    &--grid {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
      gap: 14px;
      width: 100%;
      .card {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 9px 16px;
        border: 1px solid var(--salmon-claro);
        border-radius: 8px;
        box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
        max-width: 240px;
        &:hover {
          box-shadow: (0 4px 4px rgb(240, 90, 37));
          background-color: var(--blanco-crema);
          cursor: pointer;
          .info {
            .price-container {
              .add-to-cart {
                background-color: var(--blanco-crema);
              }
            }
          }
        }

        .image_container {
          min-height: 357px;
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
        }

        h3,
        p {
          color: var(--marron-tierra);
          text-align: start;
          font-size: 16px;
        }
        .info {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          width: 100%;
          height: 100%;

          .text-container {
            display: flex;
            flex-direction: column;
            justify-content: start;
            margin-top: 4px;
            white-space: pre-line;
          }

          .price-container {
            display: flex;
            flex-direction: row;
            width: 100%;
            justify-content: space-between;
            align-items: center;
            color: var(--naranja-vivo);
            margin-top: 4px;
            .price {
              font-weight: 500;
              font-size: 16px;
            }
            .add-to-cart {
              background-color: var(--blanco);
              border: 0;
              padding: 0;
              cursor: pointer;
            }
          }
        }
      }
    }
  }
  &__pagination {
    margin-top: 15px;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    &--anterior {
      border: 0;
      border-top: 1px var(--salmon-claro) solid;
      border-bottom: 1px var(--salmon-claro) solid;
      border-left: 1px var(--salmon-claro) solid;
      border-right: 1px var(--salmon-claro) solid;
      border-top-left-radius: 8px;
      border-bottom-left-radius: 8px;
      padding: 10px 16px;
      background-color: var(--blanco);
      color: var(--marron-tierra);
      cursor: pointer;
    }
    &--numero {
      border: 0;
      border-top: 1px var(--salmon-claro) solid;
      border-bottom: 1px var(--salmon-claro) solid;
      border-right: 1px var(--salmon-claro) solid;
      padding: 10px;
      width: 40px;
      height: 40px;
      background-color: var(--blanco);
      cursor: pointer;
      &.active {
        background-color: var(--blanco-crema);
      }
    }
    &--siguiente {
      border: 0;
      border-top: 1px var(--salmon-claro) solid;
      border-bottom: 1px var(--salmon-claro) solid;
      border-right: 1px var(--salmon-claro) solid;
      border-top-right-radius: 8px;
      border-bottom-right-radius: 8px;
      padding: 10px 16px;
      background-color: var(--blanco);
      color: var(--marron-tierra);
      cursor: pointer;
    }
    &--anterior:hover,
    &--siguiente:hover,
    &--numero:hover {
      background-color: var(--salmon-claro);
      color: var(--blanco);
    }
    &--anterior:active,
    &--siguiente:active,
    &--numero:active {
      background-color: var(--blanco);
      color: var(--marron-tierra);
    }
  }
}
